.my-message, .other-message {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #616161;
    max-width: 70%;
    width: fit-content;
}

.my-message {
    align-self: flex-end;
    background-color: antiquewhite;
    color: #616161;
}

.other-message {
    background-color: #616161;
    color: #f5f5f5;
}