* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #0c0c0c, #272727);
  color: #f5f5f5;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #5C706F #B8C0C2;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5C706F;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5C706F;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #5C706F;
}
